@import 'tailwindcss';

@theme {
  --color-off-white: #eee;
  --color-off-black: #222;
  --color-bright-blue: #11c6f8;
  --color-bright-pink: #ea6ee2;
  --color-bright-teal: #5fe6c0;
  --color-bright-yellow: #ffe942;

  --breakpoint-s720: 45rem;
  --breakpoint-s1440: 90rem;

  --spacing-s720: 45rem;
  --spacing-s1440: 90rem;
}

@layer base {
  body {
    @apply text-black bg-black  /*TODO: add fonts*/;
  }

  #root {
    @apply max-w-s1440 mx-auto my-0 flex justify-center items-center;
  }
}

/*Welcome box*/

@layer components {
  .welcome-box,
  .welcome-welcome,
  .welcome-triangle,
  .welcome-donut,
  .welcome-dots {
    @apply top-1/2 left-1/2 -translate-1/2;
  }

  .welcome-box-container {
    @apply scale-100 s720:scale-150;
  }
  .welcome-box {
    @apply drop-shadow-[4px_4px_0_var(--color-bright-blue)];
  }

  /* Donut and Dots Position */

  .welcome-donut-dots {
    @apply h-13 w-13 top-12/25 left-1/12;
  }

  .welcome-donut,
  .welcome-dots {
    @apply h-full w-full;
  }

  .welcome-donut {
    @apply drop-shadow-[4px_-4px_0_var(--color-bright-teal)];
  }

  .welcome-dots {
    @apply mask-[url(./assets/svg/hero/donut.svg)];
  }

  /* Semicircle and Curves position */

  .welcome-curves-semicircle {
    @apply h-16 w-16 top-1/8 left-9/40;
  }

  .welcome-semicircle {
    @apply bottom-0 left-1/2 -translate-x-1/2 drop-shadow-[4px_4px_0_var(--color-bright-blue)];
  }

  .welcome-curves {
    @apply top-1/7 left-1/2 -translate-x-1/2;
  }

  /* Plus and Triangle position */

  .welcome-plus-triangle {
    @apply w-20 h-14 top-1/6 left-3/5;
  }

  .welcome-triangle {
    @apply drop-shadow-[-4px_4px_0_var(--color-bright-yellow)];
  }

  .welcome-plus {
    @apply top-1/4 left-3/4;
  }
}
